@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titan+One&display=swap');

:root {
    --cor1: #160F6E;
    --cor2: #EEEEEE;
    --cor3: #D1CEFF;
    --cor4: #9D98ED;
    --cor5: #635CC3;
    --cor6: #181543;
    --cor7: #fff;
    --cor8: #000;
    --cor9: #2968C8;

    --font1: "robot",arial,verdana,sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor2);
}

header section {
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header section a {
    cursor: pointer;
    height: 34px;
    max-height: 34px;
    max-width: 86px;
    margin-top: -75px;
}

header section span {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

header section span input {
    border: none;
    width: 500px;
    height: 40px;
    background-color: var(--cor2);
    border-radius: 4px 0px 0px 4px;
    font-size: 1.5em;
    text-align: center;
}

header section span input:focus-visible {
    outline: none;
}

header section span img {
    background-color: var(--cor2);
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
}

a#email {
    padding: 80px 20px 20px 20px;
}

img#emailImg {
    width: 50px;
}

header nav a {
    color: var(--cor7);
    font-size: 1.5em;
    font-family: var(--font1);
    padding: 5px 30px 20px 0px;
    text-decoration: none;
}

header nav a:hover {
    background-color: var(--cor5);
    border-radius: 3px;
    margin: 3px 28px 18px -2px;
    padding: 2px;
}

main {
    padding: 20px;
    min-width: 260px;
    max-width: 1200px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    box-shadow: var(--box--shadow);
}

main h1 {
    text-align: center;
    font-family: var(--font1);
    color: var(--cor1);
    padding-top: 20px;
}

main h2 {
    color: var(--cor9);
    padding-top: 20px;
    padding-left: 20px;
}

div.containerSpan {
    display: inline-block;
    background-color: var(--cor7);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
    width: 200px;
    height: 270px;
    align-items: center;
}

div.containerSpan:hover {
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.411), -3px -4px 6px rgb(255, 255, 255);
}

main div img {
    width: 110px;
    margin-top: 20px;
    margin-left: 50px;
    border-bottom: #000;
    cursor: pointer;
}

p.valorTotal {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
}

p.valorParcelado {
    padding-top: 3px;
    font-size: 0.8em;
    margin-left: 10px;
}

p.DescricaoDivs {
    padding-top: 3px;
    font-size: 0.8em;
    margin-left: 10px;
}

footer{
    background-color: var(--cor1);
    color: var(--cor7);
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
}

footer p {
    padding: 5px 5px 15px 5px;
}

@media (max-width: 750px){


header section span input {
    border: none;
    width: 300px;
    height: 40px;
    background-color: var(--cor2);
    border-radius: 4px 0px 0px 4px;
    font-size: 1.0em;
    text-align: center;
}


}

@media (max-width: 540px){

    header section {
        background-color: var(--cor1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    
    header section a {
        cursor: pointer;
        height: 24px;
        max-height: 34px;
        max-width: 86px;
        
    }
    
    header section span {
        display: flex;
        align-items: center;
    }
    
    header section span input {
        border: none;
        width: 100px;
        height: 30px;
        background-color: var(--cor2);
        border-radius: 4px 0px 0px 4px;
        font-size: 0.8em;
        text-align: center;
    }
    
    header section span input:focus-visible {
        outline: none;
    }
    
    header section span img {
        background-color: var(--cor2);
        height: 30px;
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }
    
    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--cor1);
    }
    
    a#email {
        padding: 80px 20px 20px 20px;
    }
    
    img#emailImg {
        width: 40px;
    }
    
    header nav a {
        color: var(--cor7);
        font-size: 0.8em;
        font-family: var(--font1);
        text-decoration: none;
    }
    
    header nav a:hover {
        background-color: var(--cor5);
        border-radius: 3px;
    }
    
    main {
        padding: 20px;
        min-width: 260px;
        max-width: 1200px;
        margin-bottom: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: auto;
        box-shadow: var(--box--shadow);
    }
    
    main h1 {
        text-align: center;
        font-family: var(--font1);
        color: var(--cor1);
        padding-top: 20px;
    }
    
    main h2 {
        color: var(--cor9);
        padding-top: 20px;
        padding-left: 20px;
    }
    
    div.containerSpan {
        display: inline-block;
        background-color: var(--cor7);
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 3px;
        width: 200px;
        height: 270px;
        align-items: center;
    }
    
    div.containerSpan:hover {
        box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.411), -3px -4px 6px rgb(255, 255, 255);
    }
    
    main div img {
        width: 110px;
        margin-top: 20px;
        margin-left: 50px;
        border-bottom: #000;
        cursor: pointer;
    }
    
    p.valorTotal {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 10px;
    }
    
    p.valorParcelado {
        padding-top: 3px;
        font-size: 0.8em;
        margin-left: 10px;
    }
    
    p.DescricaoDivs {
        padding-top: 3px;
        font-size: 0.8em;
        margin-left: 10px;
    }
    
    footer{
        background-color: var(--cor1);
        color: var(--cor7);
        margin-top: 40px;
        padding: 20px 20px 20px 20px;
    }
    
    footer p {
        padding: 5px 5px 15px 5px;
    }

   
}

@media(max-width: 350px){

    header section {
        background-color: var(--cor1);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    
    header section a {
        cursor: pointer;
        height: 24px;        
    }

    #logoTop{
        padding: 0;
        margin-top: 20px;
        margin-left: 10px;
        width: 80px;
    }
    
    header section span {
        display: flex;
        align-items: center;
    }
    
    header section span input {
        border: none;
        width: 70px;
        height: 30px;
        background-color: var(--cor2);
        border-radius: 4px 0px 0px 4px;
        font-size: 0.8em;
        margin-left: -50px;
    }
    
    header section span img {
        background-color: var(--cor2);
        height: 30px;
        border-radius: 0px 4px 4px 0px;
        cursor: pointer;
    }
    
    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--cor1);
    }
    
    a#email {
        padding: 80px 0px 20px 5px;
    }
    
    img#emailImg {
        width: 40px;
    }
    
    header nav a {
        color: var(--cor7);
        font-size: 0.8em;
        font-family: var(--font1);
        text-decoration: none;
        
    }

    header nav a:first-child{
        margin-left: 30px;
    }

    
    header nav a:hover {
        background-color: var(--cor5);
        border-radius: 3px;
    }
    
    main {
        padding: 20px;
        min-width: 260px;
        max-width: 1200px;
        margin-bottom: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: auto;
        box-shadow: var(--box--shadow);
    }
    
    main h1 {
        text-align: center;
        font-family: var(--font1);
        color: var(--cor1);
        padding-top: 20px;
    }
    
    main h2 {
        color: var(--cor9);
        padding-top: 20px;
        padding-left: 20px;
    }
    
    div.containerSpan {
        display: inline-block;
        background-color: var(--cor7);
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 3px;
        width: 200px;
        height: 270px;
        align-items: center;
    }
    
    div.containerSpan:hover {
        box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.411), -3px -4px 6px rgb(255, 255, 255);
    }
    
    main div img {
        width: 110px;
        margin-top: 20px;
        margin-left: 50px;
        border-bottom: #000;
        cursor: pointer;
    }
    
    p.valorTotal {
        font-size: 1.2em;
        font-weight: bold;
        margin-left: 10px;
    }
    
    p.valorParcelado {
        padding-top: 3px;
        font-size: 0.8em;
        margin-left: 10px;
    }
    
    p.DescricaoDivs {
        padding-top: 3px;
        font-size: 0.8em;
        margin-left: 10px;
    }
    
    footer{
        background-color: var(--cor1);
        color: var(--cor7);
        margin-top: 40px;
        padding: 20px 20px 20px 20px;
    }
    
    footer p {
        padding: 5px 5px 15px 5px;
    }

   
}

}