@charset "UTF-8";

:root {
    --cor1: #160F6E;
    --cor2: #EEEEEE;
    --cor3: #D1CEFF;
    --cor4: #9D98ED;
    --cor5: #635CC3;
    --cor6: #181543;
    --cor7: #fff;
    --cor8: #000;
}

* {
    padding: 0;
    margin: 0;
}


main {
    background-color: var(--cor2);
}

header section {
    background-color: var(--cor1);
    display: flex; /* Adiciona esta linha */
    flex-direction: row;
    align-items: center; /* Adiciona esta linha */
    justify-content: center; /* Adiciona esta linha */
    height: 100px;
}

header section a {
    cursor: pointer;
    height: 34px;
    max-height: 34px;
    max-width: 86px;
    margin-top: -75px;
}

header section span {
    display: flex; /* Adiciona esta linha */
    align-items: center; /* Adiciona esta linha */
    margin-left: 50px;
}

header section span input {
    border: none;
    width: 500px;
    height: 40px;
    background-color: var(--cor2);
    border-radius: 4px 0px 0px 4px;
    font-size: 20px;
    text-align: center;
}

header section span input:focus-visible {
    outline: none;
}

header section span img {
    background-color: var(--cor2);
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}
